PORT=4000
JWT_SECRET=change_me
SEED_ON_STARTUP=true
ADMIN_EMAIL=admin@grocery.com
ADMIN_PASSWORD=admin123
CASHIER_EMAIL=cashier@grocery.com
CASHIER_PASSWORD=cashier123
DATABASE_URL=
DIRECT_URL=
# DATABASE_URL=postgresql://neondb_owner:npg_6GCWSnRKYq1r@ep-still-sound-a19n4hgq-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLOUDINARY_CLOUD_NAME=dlux2eots
CLOUDINARY_API_KEY=513253762887251
CLOUDINARY_API_SECRET=ihMRa2OahTcSdl0mO79OrgzDVLc
CLOUDINARY_FOLDER=grocery-products

CORS_ORIGIN=*,https://flutter-grocery.onrender.com

# BASE_URL=https://grocerystore-production-eea3.up.railway.app
BASE_URL=https://grocerybackend-production-af0d.up.railway.app
# SERVER_PUBLIC_URL=https://grocerystore-production-eea3.up.railway.app
SERVER_PUBLIC_URL=https://grocerybackend-production-af0d.up.railway.app


# RESEND_API_KEY=re_Sb4qRSR6_FmYq2VQmUhySJNzxcXMWWVeS
# EMAIL_FROM=Grocery App <onboarding@resend.dev>

